<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/fragments/layout">
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="inner_content">
			<!-- /inner_content_w3_agile_info-->
			<div class="inner_content_w3_agile_info">
				<!-- /agile_top_w3_grids-->
				<div class="agile_top_w3_grids" style="display: flex;">
					<ul class="ca-menu">
						<li><a href="/admin/order"> <i class="fa fa-building-o"
								aria-hidden="true"></i>
								<div class="ca-content">
									<h4 class="ca-main" th:text="${statistic.order}">16,808</h4>
									<h3 class="ca-sub">Order</h3>
								</div>
						</a></li>
						<li><a href="/admin/guide"> <i class="fa fa-user" aria-hidden="true"></i>
								<div class="ca-content">
									<h4 class="ca-main one" th:text="${statistic.guide}">26,808</h4>
									<h3 class="ca-sub one">Hướng dẫn viên</h3>
								</div>
						</a></li>
						<li><a href="/admin/tour"> <i class="fa fa-database"
								aria-hidden="true"></i>
								<div class="ca-content">
									<h4 class="ca-main two" th:text="${statistic.tour}">29,008</h4>
									<h3 class="ca-sub two">Tour</h3>
								</div>
						</a></li>
						<li><a href="/admin/hotel"> <i class="fa fa-tasks"
								aria-hidden="true"></i>
								<div class="ca-content">
									<h4 class="ca-main three" th:text="${statistic.hotel}">49,436</h4>
									<h3 class="ca-sub three">Khách sạn</h3>
								</div>
						</a></li>

						<div class="clearfix"></div>
					</ul>
				</div>
				<!-- //agile_top_w3_grids-->
				<!-- /agile_top_w3_post_sections-->
			</div>
		</div>
	</div>
</body>
</html>