<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/fragments/layout">
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="inner_content">
			<!-- /inner_content_w3_agile_info-->

			<!-- breadcrumbs -->
			<div class="w3l_agileits_breadcrumbs">
				<div class="w3l_agileits_breadcrumbs_inner">
					<ul>
						<li><a href="/admin/top-page">Home</a><span>«</span></li>

						<li>Quản lý Tour</li>
					</ul>
				</div>
			</div>
			<!-- //breadcrumbs -->

			<div class="inner_content_w3_agile_info two_in">
				<h2 class="w3_inner_tittle">Tables</h2>
				<!-- tables -->

				<div class="agile-tables">
					<div class="w3l-table-info agile_info_shadow">
						<h3 class="w3_inner_tittle two">Quản lý Tour</h3>
						<table id="table" class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>Age</th>
									<th>Gender</th>
									<th>Height</th>
									<th>Province</th>
									<th>Sport</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Jill Smith</td>
									<td>25</td>
									<td>Female</td>
									<td>5'4</td>
									<td>British Columbia</td>
									<td>Volleyball</td>
								</tr>
								<tr>
									<td>John Stone</td>
									<td>30</td>
									<td>Male</td>
									<td>5'9</td>
									<td>Ontario</td>
									<td>Badminton</td>
								</tr>
								<tr>
									<td>Jane Strip</td>
									<td>29</td>
									<td>Female</td>
									<td>5'6</td>
									<td>Manitoba</td>
									<td>Hockey</td>
								</tr>
								<tr>
									<td>Gary Mountain</td>
									<td>21</td>
									<td>Male</td>
									<td>5'8</td>
									<td>Alberta</td>
									<td>Curling</td>
								</tr>
								<tr>
									<td>James Camera</td>
									<td>31</td>
									<td>Male</td>
									<td>6'1</td>
									<td>British Columbia</td>
									<td>Hiking</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- //tables -->
			</div>
			<!-- //inner_content_w3_agile_info-->
		</div>
	</div>
</body>
</html>