<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/fragments/layout">
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="inner_content">
			<!-- /inner_content_w3_agile_info-->

			<!-- breadcrumbs -->
			<div class="w3l_agileits_breadcrumbs">
				<div class="w3l_agileits_breadcrumbs_inner">
					<ul>
						<li><a href="/admin/top-page">Trang chủ</a><span>«</span></li>

						<li>Quản lý Hotel</li>
					</ul>
				</div>
			</div>
			<!-- //breadcrumbs -->

			<div class="inner_content_w3_agile_info two_in">
				<h2 class="w3_inner_tittle">Quản lý Hotel</h2>
				<!-- tables -->

				<div class="agile-tables">
					<div class="w3l-table-info agile_info_shadow">
						<a href="/admin/hotel/add" class="btn btn-success btn-sm"><span
							class="glyphicon glyphicon-plus"></span> Thêm khách sạn </a>

						<p th:text="${successMsg}" style="color: blue;">></p>
						<table id="table" class="table table-striped">
							<thead>
								<tr>
									<th>ID</th>
									<th>Họ tên</th>
									<th>Địa chỉ</th>
									<th>Số điện thoại</th>
									<th>Website</th>
									<th>Chức năng</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="hotel, index : ${hotels.data.list}">
									<td th:text="${index.index + 1}">1</td>
									<td th:text="${hotel.name}">Name</td>
									<td th:text="${hotel.address}">Address</td>
									<td th:text="${hotel.phone}">Phone</td>
									<td th:text="${hotel.website}">Website</td>
									<td><a th:href="@{/admin/hotel/edit/{id}(id=${hotel.id})}"
										class="btn btn-success btn-sm"><span
											class="glyphicon glyphicon-pencil"></span> Sửa </a> <a
										th:href="@{/admin/hotel/delete/{id}(id=${hotel.id})}"
										onclick="return confirm('Bạn có chắc chắn muốn xóa?')"
										class="btn btn-danger btn-sm"><span
											class="glyphicon glyphicon-trash"></span> Xóa </a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- //tables -->
			</div>
			<!-- //inner_content_w3_agile_info-->
		</div>
	</div>
</body>
</html>