<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/fragments/layout">
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="inner_content">
			<!-- /inner_content_w3_agile_info-->

			<!-- breadcrumbs -->
			<div class="w3l_agileits_breadcrumbs">
				<div class="w3l_agileits_breadcrumbs_inner">
					<ul>
						<li><a href="/admin/top-page">Home</a><span>«</span></li>

						<li>Quản lý review</li>
					</ul>
				</div>
			</div>
			<!-- //breadcrumbs -->

			<div class="inner_content_w3_agile_info two_in">
				<h2 class="w3_inner_tittle">Tables</h2>
				<!-- tables -->

				<div class="agile-tables">
					<div class="w3l-table-info agile_info_shadow">
						<h3 class="w3_inner_tittle two">Quản lý review</h3>
						<p th:text="${successMsg}" style="color: blue;">></p>
						<table id="table" class="table table-striped">
							<thead>
								<tr>
									<th>ID</th>
									<th>Họ tên</th>
									<th>Email</th>
									<th>Điểm đánh giá</th>
									<th>Ngày bình luận</th>
									<th>Tên tour</th>
									<th>Chức năng</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="review : ${reviews.data.list}">
									<td th:text="${review.id}">1</td>
									<td th:text="${review.name}">Name</td>
									<td th:text="${review.email}">Email</td>
									<td th:text="${review.score}">Điểm đánh giá</td>
									<td th:text="${review.dateReview}">Ngày bình luận</td>
									<td th:text="${review.nameTour}">Tên tour</td>
									<td><a th:href="@{/admin/review/detail/{id}(id=${review.id})}"
										class="btn btn-success btn-sm"><span
											class="glyphicon glyphicon-pencil"></span> Chi tiết </a> <a
										th:href="@{/admin/review/delete/{id}(id=${review.id})}"
										onclick="return confirm('Bạn có chắc chắn muốn xóa?')"
										class="btn btn-danger btn-sm"><span
											class="glyphicon glyphicon-trash"></span> Xóa </a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- //tables -->
			</div>
			<!-- //inner_content_w3_agile_info-->
		</div>
	</div>
</body>
</html>