<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/fragments/layout">
<body>
	<div layout:fragment="content" th:remove="tag">
		<div class="inner_content">
			<!-- /inner_content_w3_agile_info-->

			<!-- breadcrumbs -->
			<div class="w3l_agileits_breadcrumbs">
				<div class="w3l_agileits_breadcrumbs_inner">
					<ul>
						<li><a th:href="@{/admin/user}">Trang chủ</a><span>«</span></li>

						<li><a th:href="@{/admin/guide}">Quản lý hướng dẫn viên</a></li>
					</ul>
				</div>
			</div>
			<!-- //breadcrumbs -->

			<div class="inner_content_w3_agile_info two_in">
				<h2 class="w3_inner_tittle">Sửa thông tin hướng dẫn viên</h2>

				<div class="agile-tables">
					<div class="graph-form agile_info_shadow">
						<div class="form-group">
						<div class="form-group">
						<p th:text="${failMsg}" style="color: red;"></p>
						</div>
						</div>
						<div class="form-body">
							<form id="formEdit" method="POST"
								th:action="@{/admin/guide/edit/{id}(id=${guideEdit.id})}" th:object="${guideEdit}">
								<div class="form-group">
								<input type="hidden" th:value="${guideEdit.id}" name="id"/>
									<label for="usr">Tên hướng dẫn viên:</label> <input type="text"
										th:value="${guideEdit.name}" name="name" class="form-control" />
									<p th:each="err : ${#fields.errors('name')}" th:text="${err}" style="color:red;">Incorrect date</p>
								</div>
								<div class="form-group">
									<label>Địa chỉ:</label> <input name="address" type="text"
										th:value="${guideEdit.address}" class="form-control" />
									<p th:each="err : ${#fields.errors('address')}" th:text="${err}" style="color:red;">Incorrect date</p>
								</div>
								<div class="form-group">
									<label>Phone:</label> <input th:value="${guideEdit.phone}"
										name="phone" type="text" class="form-control" />
									<p th:each="err : ${#fields.errors('phone')}" th:text="${err}" style="color:red;">Incorrect date</p>
								</div>
								<button type="submit" class="btn btn-default">Sửa</button>
								<a th:href="@{/admin/hotel}" class="btn btn-danger" style="padding: 7px; width: 8em;">Trở lại</a>
							</form>
						</div>
					</div>
				</div>
			</div>
<script type="text/javascript" >
    $(document).ready(function(){
        $('#formEdit').validate({
            ignore: [],
            debug: false,
            rules: {
                name: {
                    required: true,
                },
                address: {
                    required: true,
                },
                phone: {
                    required: true,
                },
            },
            messages:{
                name: {
                    required: "Mời bạn nhập tên hướng dẫn viên",
                },
                address: {
                    required: "Mời bạn nhập địa chỉ của hướng dẫn viên",
                },
                phone: {
                    required: "Mời bạn nhập số điện thoại của hướng dẫn viên",
                },
            }
        });                 
    });
</script>
			<!-- End Script -->
		</div>
		<!-- //inner_content_w3_agile_info-->
	</div>
</body>
</html>